/**
 * Created by liz
 * Email: lizhengnacl@163.com
 * Tel: 18686768624
 * Date: 16/11/3
 */

.xm-tips {
    position: absolute;
    background-color: white;
    border-radius: 4px;
    padding: 0 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    /* 解决文字竖排的问题 */
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    color: inherit;
    display: none;
    &:after{
        content: '';
        display: block;
        position: absolute;
        border: 8px solid white;
    }
    .xm-tips-hover-friendly{
        position: absolute;
        top: 100%;
        left: 0;
        width: inherit;
        height: 8px;
    }
    &.show{
        display: inline-block;
    }
}

.xm-tips.xm-tips-top{
    left: 50%;
    /* ie9 */
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    bottom: calc(100% + 4px);
    &:after {
        left: 50%;
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        top: 100%;
        border-color: white transparent transparent transparent;
    }
}

.xm-tips.xm-tips-bottom{
    left: 50%;
    /* ie9 */
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: calc(100% + 4px);
    &:after {
        left: 50%;
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        bottom: 100%;
        border-color: transparent transparent white transparent;
    }
}

.xm-tips.xm-tips-right{
    left: calc(100% + 4px);
    top: 50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    &:after {
        top: 50%;
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        right: 100%;
        border-color: transparent white transparent transparent;
    }
}

.xm-tips.xm-tips-left{
    right: calc(100% + 4px);
    top: 50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    &:after {
        top: 50%;
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        left: 100%;
        border-color: transparent transparent transparent white;
    }
}

.xm-tips-clear{
    color: #0088FF;
}